---
layout: default
---

<article class="post">
  <div class="container narrow">
    <p class="post-meta">
      <span>{{ page.date | date: "%B %-d, %Y" }}</span>
      {% if page.unlisted %}
        <span class="pill">Unlisted</span>
      {% endif %}
    </p>
    <h1 class="post-title">{{ page.display_title }}</h1>
    {% if page.display_subtitle %}
      <p class="post-subtitle">{{ page.display_subtitle }}</p>
    {% endif %}
    <div class="post-body">
      {{ content }}
    </div>
    {% if page.comments != false %}
      {% include giscus.html %}
    {% endif %}
  </div>
</article>
